repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ['--profile=black']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs>=2.3.2.250926
          - types-PyYAML>=6.0.12.20250915
          - types-Pygments>=2.19.0.20250809
          - types-colorama>=0.4.15.20250801
          - types-decorator>=5.2.0.20250324
          - types-defusedxml>=0.7.0.20250822
          - types-docutils>=0.22.2.20251006
          - types-jsonschema>=4.25.1.20251009
          - types-pytz>=2025.2.0.20250809
        args: ['--ignore-missing-imports']
